/node_modules
/public/hot
/public/storage
/public/react-tube-app/public/
/public/react-tube-app/node_modules/
/database/database.sqli
/database/sqlite3.exe
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
